.home-main-container{
    height: 100vh;
    width:100%;
    /* background: #DAC7DA */
}
.homepage-header{
    text-align: center;
    margin-top:10px; 
    text-align: center;
    margin: 0 auto 50px;
    font-family: Droid Serif,Palatino Linotype,Book Antiqua,Palatino,FreeSerif,serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #DA3786;
    text-transform: none;
    line-height: 1.75;
}
.home-container{
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:30px; 
   
    
}
.tech-card{
    /* display: flex; */
    /* flex-direction: row; */
    margin: 60px;
}
.card-image{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.card-name{
    text-align: center;
    text-align: center;
    margin-top:10px; 
    text-align: center;
    margin: 0 auto 50px;
    font-family: Droid Serif,Palatino Linotype,Book Antiqua,Palatino,FreeSerif,serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #DA3786;
    text-transform: none;
    line-height: 1.75;
}
.aboutus-link{
    color: green
}